.slider-section{
  height: 100vh;
  padding: 2% 0;
  /* background: url('../../../public/bg4.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  /* position: relative; */
}
.slider-container {
  width: 80%;
  height: 65%;
  background-color: #ffffff0f;
  margin-left: 10%;
  /* margin-bottom: 5%; */
  position: relative;
  z-index: 998;

  
}

.image {
  object-fit: cover;
  width: 40%;
 bottom: 20%;
 margin: 5% 0 0 13%;
  position: absolute; 
  top: 276vh; 
  /* z-index: -1; */
  z-index: 1;
}

.image-info{
 /* padding: 25% 0 0 5%; */

}
.image-info h2{
 font-size: 56px ;

}
.image-info p{
 font-size: 48px;
}


.thumbnails-container{
  width: 25%;
 
 display: grid;
 grid-template-columns: repeat(2, 1fr );
 grid-template-rows: repeat(2, 1fr);
 /* grid-gap: 10px; */
  grid-column-gap: 45px; /* Réduire l'espace entre les colonnes à 5 pixels */
 grid-row-gap: 40px;
 position: relative;
 margin-left: 60%;
 bottom: 20vh;
 
}
#thumbnails{
background-color: rgba(253, 253, 253, 0.21);
width: 100%; 

color:#fffbfb ;
padding: 5% 4% ;
/* border: 1px solid #fff; */
border-radius: 5px;
/* backdrop-filter: blur(20px); */



}
#thumbnails:hover{
 

 transform: scale(1.1); 
}

.actif {

 transform: scale(1.2); 
}

.thumbnail-titre{
font-size: 22px;
font-weight: 600;
padding: 3% 0 15% 3%;
}
.thumbnail-speacker,.thumbnail-date , .thumbnail-heure{
 padding-bottom: 3%;
}
.thumbnail-image {
overflow: hidden;
max-width: 300px;
height: 100%;
border-radius: 50%;
margin-right: 2%
}
.thumbnail-image img{
 width: 15%;
 height: 15%;
 border-radius: 50px;
 overflow: hidden;
}