


body{
 
  background-color: #000000 ;
  background-image: linear-gradient(147deg,#000000 10%,#440f58  74%);
  color: #fff;
  backdrop-filter: blur(10px);
}
.first-container{
  background-color: #070707;
  width: 100%;
  height: 99vh;
}
.first-container video{
  width: 100%;
  height: 99vh;
  object-fit: cover;
  z-index: -1;
  
  opacity: 0.2;
  
}

.landing-page{
  position: relative;
  bottom: 100vh;
}
.landing-header{
  height: 20%;
  z-index: 30;
  display: flex;
  
}



.landing-content{
  margin-top:15%;
  margin-bottom: 10%;
  
 }
 .grand-titre{
 
   text-align: center;
  
  
 }
 .grand-titre p{
   color: #ffffff;
   margin-right: 22%;
   font-size: 14px;
   font-weight: 500;
   margin-bottom: 0;
   margin-top: 10%;
   
 }
 .grand-titre h1{
  margin: 0;
 }
 .grand-titre h1 span {
   background: linear-gradient(to right, #f8931b, #8400ff, #120079, #4ef3ff);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size: 46px;
   font-weight: 600;
  
   
 }
 .grand-titre h2 {
   color: #fff5f5;
  
   font-size: 20px;
 }

 
 
 .about-btn {
 
   font-weight: 500;
   font-size: 12px;
   letter-spacing: 1px;
   display: inline-block;
   padding: 0.5% 1% ;
   border-radius: 50px;
   line-height: 1;
   margin: 10px;
   color: #fff;
   animation-delay: 0.8s;
   border: 1px solid #fff;
   text-decoration: none;
   transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
   scroll-behavior: smooth;
   background: none;
 }
 .about-btn:hover{
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 0 2px 2px rgba(0,0,0,0.11), 0 4px 4px rgba(0,0,0,0.11), 0 8px 8px rgba(0,0,0,0.11), 0 16px 16px rgba(0,0,0,0.11), 0 32px 32px rgba(0,0,0,0.11);
   background-color: #fff;
   font-weight: 500;
   color: #000000;

 }

/* ************responsivite*********** */
@media screen and (max-width : 1300px){
  .landing-navbar{
    width: 60%;
      padding: 0 0 0 25%;
   }
   .landing-navbar ul{
    justify-content: center;
}
}

@media screen and (max-width : 1024px){
  .landing-navbar{
    width: 60%;
      padding: 0 0 0 25%;
      font-size: 14px;
     
   }
   .landing-navbar ul{
  
      justify-content: center;
   
  }
   .landing-navbar li{
    list-style: none;
    padding: 5% 3% 2% 0; 
    margin: 0;
  }
}
@media screen and (max-width : 920px){
  .landing-content{
    margin-top: 60%;
  }
}
@media screen and (max-width : 800px){
 
  .landing-page{
    /* bottom: 53vh; */
  }
    .landing-navbar { 
      display: none;
    }
    .landing-header-logo{
      width: 30%;
    }

    .landing-content{
      margin-top: 60%;
         margin-bottom: 0;
    }
    .grand-titre h4{
        font-size: 12px;
    }
    .grand-titre h1 span{
      font-size: 24px;
    }
    .about-btn {
 
     
      font-size: 12px;
      
      padding: 12px 32px;
      
     
    
      
    }
}
/* *******Back to top button***** */
.back-to-top{
 position: sticky;
 margin-left:95% ;
 margin-right: 2%;
 
 border: 2px solid #f8931b;
 border-radius:50px;
 padding: 0.4% 0.2% 0.1% 0.1%;
 opacity: 0;
 transition: all 0.4s;
 
}
.top{
  cursor: pointer;
  background: 0;
  color: #f8931b;
  font-size: 26px;
  border: 0;
  transition: transform 1s ease-in-out;
}
.back-to-top:hover{
  box-shadow: 0px 16px 48px 0px  #f8931b;
}
.back-to-top-fixed {
  position: sticky;
  bottom: 20px;
  right: 20px;
  opacity: 1;
}
@media screen and (max-width : 800px){
  .back-to-top{
    display: none;
  }
}


 /* ********************************** */
 /*   style des contenus               */
 /* ********************************** */

 /*########section du a propos ######***/
 .about-content
 {
   padding: 2% 0 5% 0;
 }
 .about-titre
 {
  display: flex;
  align-items: center;
   margin-left: 30%;
   font-size: 22px;
   font-weight:bold ;
  
   
 }
 .about-para
 {
  
   text-align: center;
   width: 40%;
   padding: 2% 0 2% 32%;
 }
 .about-para p{
  box-sizing: 0;
 }

 .titre-colore{
  
  margin: 4.2% 0 0 1%;
  display: inline-block; 
 
 }



  
/*  
 .tiret{
   
  
   display: block;
   width: 60px;
   height: 5px;
   background: #f82249;
   bottom: 0;
  margin: 2% 0 2% 48%;
 }
  */
 /********** responsivité********* */
 @media screen and (max-width : 1024px){
  .about-titre{
    margin-left:20%;
 
  }
 }
 @media screen and (max-width : 900px){
  .about-titre{
    margin-left:10%;
 
  }
  .titre-colore {
    margin: 5% 0 0 2%;
    width: 40% ;
  }
  .titre-colore img{
    width: 100%;
  }
 }
 @media screen and (max-width : 500px){
  
  .about-titre{
    margin-left:10%;
    font-size: 9px;
    width: 100%;
  }
  .about-para{
    text-align: center;
    margin-left: -10%;
    width: 60%;
  }
  .titre-colore {
    margin: 5% 0 0 2%;
    width: 40% ;
  }
  .titre-colore img{
    width: 100%;
  }
  .about-para p{
    
    font-size: 8px;
    
  }
}


/* #######section programme####### */


.fte-pro{
  background-color:#0a011bc8 ;
  /* background: url('../../img/linear-bg2.jfif')  ; */
  padding:5% 0;
  /* height: 70vh; */
}
.pro-titre-container{
  margin-left: 14% ;
}
.pro-about-titre h2{
   font-size: 32px;
}
.pro-about-titre h2::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  display: block;
  transition: all 0.3s ease;
  /* bottom: 25%; */
  width: 5%;
  height: 3px;
  background:  #4ef3ff;
}

.pro-container{
  margin: 5% 0 10% 10%;
   width: 80%;
  display: flex;
  flex-direction: row;
  
}
.pro-boite{
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  padding-bottom: 3%;
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.059);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .11);
  background: rgba(255, 255, 255, 0.059); /* Couleur de fond avec une opacité */
  backdrop-filter: blur(20px); /* Flou de fond */
}
.pro-boite:hover{
  box-shadow: 0px 16px 48px 0px rgba(186, 4, 232, 0.358);
}
.pro-image{
  width: 100%;
  height: 60%;

  
}
.pro-image img{
  width: 100%;
  height: auto;
  object-fit: cover;
 
  
}

.pro-info{
  margin: 2% 2%;
  height: 100%;
  
 
}
.pro-descri{
  font-size: 14px;
}
.pro-info a{
  color: white;
  text-decoration: none;
  /* border-bottom: 3px solid #f8931b; */
  border: 1px solid white;
  padding: 2% 3% ;
  border-radius: 25px;
  margin-top: 5%;
  font-size: 14px;
}
.pro-info a:hover{
  background-color: #fff;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.059);
}

/* *******responsivité************* */
@media screen and (max-width : 550px ){
  .pro-container{
    flex-direction: column;
  }
  .pro-about-titre p{
    font-size: 10px;
  }
  .pro-about-titre h2{
    font-size: 14px;
  }
 
  .pro-boite{
    border-radius: 13px;
    margin: 5% ;
    width: 60%;
   
  }
  
  .pro-info{
    margin: 3% 0 6% 5% ;
  }
  .pro-titre{
    font-size: 12px;
    margin: 0;
  }
  
  .pro-descri{
    font-size: 8px;
  }
  
  .pro-info a{
    font-size: 8px;
    
  }
}
