.programme{
  background-color: rgb(2, 7, 49);
}
.date-container{
  display: flex;
  flex-direction: row;
  margin: 4% 0 1% 5%;

}
.date{
  background-color: rgb(13, 13, 106);
  padding:  1% 2%;
}
.date:hover{
  
  background-color: rgb(37, 37, 250);
  
 
}
.activeToggle{
 
  background-color: rgb(37, 37, 250);
  
  padding:  1% 2%;
}
.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#boite-container{
  margin: 2% 0 2% 5%;
}
.show-detail-container{
  display: block;
}
.hide-detail-container{
  display: none;
}
.boite-content{
  width: 23%;
 
  /* border: 1px solid white; */
  margin: 2% 1% 1% 1%;
  padding: 0.5%;
}
.boite-content:hover{
  scale: 1.03;
  transition: 0.3s;
}

.mer-un{
  background: url('../../img/fond-programme/1.jpg');
  background-size: cover;
 
}
.mer-deux{
  background: url('../../img/fond-programme/2.jfif');
  background-size: cover;
}
.mer-trois{
  background: url('../../img/fond-programme/3.jpg');
  background-size: cover;
}
.jeu-un{
  background: url('../../img/fond-programme/4.jfif');
  background-size: cover;
}
.jeu-deux{
  background: url('../../img/fond-programme/5.png');
  background-size: cover;
}
.jeu-trois{
  background: url('../../img/fond-programme/5.png');
  background-size: cover;
}
.ven-un{
  background: url('../../img/fond-programme/6.jpg');
  background-size: cover;
}
.ven-deux{
  background: url('../../img/fond-programme/7.jfif');
  background-size: cover;
}
.ven-trois{
  background: url('../../img/fond-programme/8.jpg');
  background-size: cover;
}
.ven-quatre{
  background: url('../../img/fond-programme/9.jfif');
  background-size: cover;
}
.ven-cinq{
  background: url('../../img/fond-programme/10.jpg');
  background-size: cover;
}
.sam-un{
  background: url('../../img/fond-programme/11.jfif');
  background-size: cover;
}
.sam-deux{
  background: url('../../img/fond-programme/12.jfif');
  background-size: cover;
}

.boite-glassmorph{
  background-color: rgba(0, 0, 0, 0.825);
  backdrop-filter: blur(1px);
  /* margin: 1%; */
  padding: 2%;
  height: 90%;
}
.jour{
  font-size: 12px;
  text-transform: uppercase;
  color:grey;
  font-weight: bold;
}
.heure{
  font-size: 26px;
  margin: 3% 2%;
}
.activite{
  font-size: 18px;
  margin: 5% 2% ;
  font-weight: 500;
}
.autre-contenu{
  font-size: 12px;
  padding-bottom: 1%;
  font-weight: 100;
  font-family: sans-serif;
  margin: 3% ;
  color: rgba(253, 253, 253, 0.725);
}

@media screen and (max-width : 550px ){
  .boite-glassmorph{
    background-color: rgba(0, 0, 0, 0.825);
    backdrop-filter: blur(0);
    /* margin: 1%; */
    padding: 2%;
    height: 90%;
  }
  .boite-content{
    width: 80%;
    margin: 5% 2% 1% 5%;
    padding: 2%;
  }
}
