

.fade-up-down {
    opacity: 0;
    transform: translateY(100px);
  
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
  
    &.active {
      opacity: 1;
      transform: translateY(0);
    }
  
    &.fade-up-down-in-progress {
      opacity: 0.5;
      transform: translateY(-50px);
    }
  }


.notScrolled
{
  display: none;
}
 .scrolled{
    display: flex;
    background-color: #090426;
    
    position: sticky!important;
    top: 0;
    z-index: 999;
}

