/********************* footer****************** */

.footer{
    margin: 0;
    background-color: #121112;
    color: #ffffff92;
  }
.footer-flex{
  display: flex;
  padding: 2% 10%;
  /* align-items: center; */
} 
  .footer-logo{
    width: 30%;
    
  }
  .footer-logo img{
    width: 60%;
  }
  .footer-coordonne{
    margin-right: 10%;
  }
  .footer-coordonne h3 , .reseaux-sociaux h3{
    font-weight: 500;
  }
  .footer-coordonne p{
    font-weight: 200;
   
  }

  .reseaux-sociaux a{
    
    font-size: 26px;
    color: #ffffff92;
  }
  .reseaux-sociaux a:hover{
    transform: scale(1.2);
    transition: 0.2s;
    color: #4e9eff;
  }
  .copyright p{
    font-weight:100 ;
    margin: 0 ;
    text-align: center;
    
  }
  .dropdown-navlink{
    color: #fff;
    text-decoration: none;
     
  }
 .dropdown-content{
   background-color: black;
   position: absolute;
   margin: 2% 0 0 32%;
   padding: 1% 3%;
 }
  @media screen and (max-width : 550px ){
    .footer{
      padding-bottom: 5%;
    
    }
   .footer-flex{
    flex-direction: column;
   
    padding: 8%;
   }
   .footer-logo{
    width: 80%;
   }
   .footer-coordonne h3 , .reseaux-sociaux h3{
   font-size: 16px;
  }
  .footer-coordonne p{
    font-size: 14px;
   
  }

  
  }