.place button {
    border: 5px;
    outline: none;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
    background-color: grey;
    margin-right: 10px; /* Ajoutez de la marge à droite pour séparer les boutons */
}

.place button.btnactive{
    background-color: red;
}