.stand-slider
    {
        width: 70vw;
        height: 60vh;
        padding-top:5%;
        margin: 0 0 0 12%;
  
    }

    /* le swiper slide */
    .mySwiper{
      width: 30%;
    }
   
    
    .swiper-slide {
      background-position: center;
      background-size: cover;
      
      height: 40%; 
      margin: 0 1%;
     
      filter: blur(2px);
    }
    .swiper-slide-active{
        filter: blur(0px);
    }

    .swiper-slide img {
      display: block;
      width: 100%;
    }
    .bouton{
        position: absolute;
        top: 0;
        
    }

 